
<h2 class="text-center"> TABLE </h2>
<div>
    <table id="dataTable_forms" class="display table">
        <thead>
            <tr>
                <th >Class</th>
                <th >Name</th>
                <th data-orderable="false" class="sorting_disabled">Updated Time</th>
                <th data-orderable="false" class="sorting_disabled">ID</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div [style.visibility]="(displayId === null) ? 'hidden' : 'visible' ">
    <data-details [id]="displayId"></data-details>
</div>


<!--<a [routerLink]="[ '/details', 82551 ]">details 82551</a>-->
<!--<a (click)="navigateDetails(82551)">details click 82551</a>-->
