
<div class='col-md-3'></div>

<div class='col-md-6'>
    <div [hidden]="submitted" class="row">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" required [(ngModel)]="model.login" name="login" #login="ngModel">

                <div [hidden]="login.valid" class="alert alert-danger">
                    Login is required
                </div>
            </div>

            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" required [(ngModel)]="model.pwd" name="pwd" #pwd="ngModel">
                <div [hidden]="pwd.valid" class="alert alert-danger">
                    Password is required
                </div>
            </div>

            <div class="form-group">
                <label for="corp">Corporation</label>
                <select class="form-control" id="corp" required [(ngModel)]="model.corp" name="corp" #corp="ngModel">
                    <option *ngFor="let corp of corps" [value]="corp">{{corp}}</option>
                </select>
                <div [hidden]="corp.valid" class="alert alert-danger">
                    Corporation is required
                </div>
            </div>

            <button type="button" class="btn btn-default" (click)="loginForm.reset()">Reset</button>
            <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Submit</button>
        </form>
        <br />
        <div [hidden]="!checkFail" class="alert alert-danger">
            Login Fail, please check your credentials...
        </div>
    </div>

    <div [hidden]="!submitted">
        <div class="row">
            <div class="col-md-6 text-center">Login</div>
            <div class="col-md-6 text-center">{{ model.login }}</div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">Password</div>
            <div class="col-md-6 text-center">{{ model.pwd }}</div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">Corporation</div>
            <div class="col-md-6 text-center">{{ model.corp }}</div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">Token</div>
            <div class="col-md-6 text-center">{{ model.token }}</div>
        </div>
        <br/>
        <div class="row">
            <div class='col-md-3'></div>
                <button class="btn btn-primary col-md-6"(click)="submitted=false; checkFail=false;">Disconnect</button>
            <div class='col-md-3'></div>
        </div>
    </div>
</div>
<div class='col-md-3'></div>
