<h3> DETAILS </h3>
<div class='row'>
    <table id="dataTable_details" class="display table">
        <thead>
            <tr>
                <th>Form Id</th>
                <th>Id</th>
                <th>Create time</th>
                <th>Answer time</th>
                <th>Record number</th>
                <th>User id</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>