
<div class='col-md-2'></div>

<div id="mainContainer" class='col-md-8'>
  <h1 class="text-center">
    {{title}}
  </h1>
  <nav class="row">
    <a class="col-md-1 btn btn-info pull-left" routerLink="/login" routerLinkActive="active">Login</a>
    <a class="col-md-1 btn btn-warning pull-right" routerLink="/table" routerLinkActive="active">Table</a>
  </nav>

  <br />

  <router-outlet></router-outlet>
</div>

<div class='col-md-2'></div>
